/* Pagination ----------------------------------------------------------------------------------------------*/
.Pagination {
  width: 100vw;
  color: red;
  /* margin-bottom: 20px; */
}
.Pagination > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pagination > div > div {
  margin-right: 20px;
}
.Pagination > div > div label {
  margin-right: 10px;
}
.Pagination input {
  background-color: transparent;
  color: crimson;
  outline: crimson;
  border: none;
  border: rgb(46, 91, 129) 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}
.Pagination input[type="text"]:focus {
  background-color: rgb(46, 91, 129);
  color: white;
  border: white solid 1px;
}

.Pagination P > span:nth-child(1) {
  color: rgb(46, 91, 129);

  margin-right: 10px;
}
.Pagination P > span:nth-child(2) {
  color: rgb(46, 91, 129);
}
.Pagination .selectContainer {
  width: 150px;
  outline: none;
}
.Pagination .selectContainer_control {
  background-color: pink;
  border: none;
}
.Pagination .selectContainer_control--is-focused {
  background-color: pink;
  outline: none;
  border: none;
}
.Pagination .css-1pahdxg-control {
  background-color: transparent;
  border: none;
  outline: none;
}
.Pagination .css-1pahdxg-control:hover {
  border: none;
  outline: none;
}
.Pagination .css-yk16xz-control {
  background-color: transparent;
}
.Pagination .selectContainer__placeholder {
  color: red;
  background-color: transparent;
}

.Pagination .css-26l3qy-menu {
  background-color: none;
  background: linear-gradient(0.25turn, rgb(244, 244, 247), transparent);
  color: black;
}
.Pagination .react-select__menu-list {
  background-color: yellow;
}

/* PaginationPage ----------------------------------------------------------------------------------------------*/
.PaginationPage {
  font-size: 20px;
  margin-top: 10px;
  height: 100px;
}
.PaginationPage .break-me {
  border: none;
}
.PaginationPage .pagination {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  justify-content: center;
  width: 100%;
}
.PaginationPage .pagination > li:not(.active) {
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3px;
  color: #00ffff;
  cursor: pointer;
}
.PaginationPage .pagination > li a {
  outline: none;
  border: none;
}
.PaginationPage .active {
  color: black;
  box-sizing: border-box;
  background: linear-gradient(0.25turn, black, #00ffff);
  padding: 8px;
  border-radius: 15px;
  font-size: 22px;
  transition: 1.5s;
}
.PaginationPage .next,
.PaginationPage .previous {
  box-sizing: border-box;
  padding: 5px;
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
}
.PaginationPage .next {
  margin-left: 15px;
}
.PaginationPage .previous {
  margin-right: 15px;
}
