/* ComicPage  ----------------------------------------------------------------------------------------------*/
.ComicPage {
  color: rgb(32, 101, 161);
}
.ComicPage > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ComicPage .Comic {
  margin-bottom: 20px;
  width: 40vw;
}
/* animation for comic */
.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

.ComicPage p {
  color: aliceblue;
  margin-bottom: 10px;
  position: relative;
}
.ComicPage p .favored {
  margin-right: 20px;
  cursor: pointer;
}

.ComicPage input[type="checkbox"] {
  width: 60px;
  -webkit-appearance: none;
  height: 20px;
  outline: none;
  border-radius: 20px;
}
.ComicPage input[type="checkbox"]:before {
  content: "";
  position: absolute;
  height: 20px;
  border-radius: 20px;
  width: 40px;
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

.ComicPage .notChecked:before {
  top: 3px;
  left: 4px;
}
.ComicPage .checked:before {
  left: 24px;
}
.ComicPage input[type="checkbox"]:after {
  content: "";
  top: calc(50% - 3px);
  position: absolute;
  height: 2px;
  border-radius: 20px;
  width: 2px;
  border-radius: 50%;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}
.ComicPage .notChecked:after {
  left: 34px;
  background: linear-gradient(0deg, #6b6b6b, #000);
}
.ComicPage .notChecked {
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 1px #353535, 0 0 0 2px #3e3e3e, inset 0 0 10px rgba(0, 0, 1),
    0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}
.ComicPage .checked {
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 1px #6dd1ff, 0 0 0 2px #353535, 0 0 0 3px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}
.ComicPage .checked:after {
  left: 50px;
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}

.ComicPage p span {
  margin-right: 10px;
  color: red;
}
.ComicPage .Comic > div {
  display: flex;
  align-items: center;
  width: 50%;
  max-height: 300px;
}
.ComicPage img {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  border: rgb(32, 101, 161) 2px solid;

  cursor: pointer;
}
.ComicPage .Comic > div p {
  display: none;
  box-sizing: border-box;
  padding: auto;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}
.ComicPage .Comic > div:hover {
  width: 100%;
  transition: 4s;
}

.ComicPage .Comic > div:hover p {
  display: flex;
  cursor: row-resize;
  padding: 15px;
  box-sizing: border-box;
}
.ComicPage .boxShadow {
  box-shadow: 12px 12px 9px 4px red;
  -webkit-box-shadow: 12px 12px 9px 4px red;
  -moz-box-shadow: 12px 12px 9px 4px red;
}
