/* CharacterPage and favoredCharacterPage---------------------------------------------------------------------------------------------- */
.CharacterPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: aliceblue;
}
.CharacterPage .Poster {
  margin-bottom: 15px;
  position: relative;
}
/* animation for poster */
.bounce-in-right {
  -webkit-animation: bounce-in-right 1.5s both;
  animation: bounce-in-right 1.5s both;
}

@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.CharacterPage .container {
  overflow: hidden;
  border-radius: 50%;
}
.CharacterPage .Poster-img {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid red 1px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/* animation for poster picture */

.kenburns-top:hover {
  -webkit-animation: kenburns-top 4s ease-out infinite alternate both;
  animation: kenburns-top 4s ease-out infinite alternate both;
  z-index: 1000;
  opacity: 1;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
}
/* hover show div  */

.CharacterPage .Poster > div:hover .hiden {
  display: flex;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  height: 180px;
  display: flex;
  align-items: center;
  font-weight: bold;
  opacity: 0.7;
  margin-top: 25px;
  z-index: 10;
}
/* animation for hiden text  */
.scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
    background-color: rgb(0, 0, 0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzJ_Y2yYaQmzEO-4atqBk1NH4sLe_VMlGqTQ&usqp=CAU");
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
    background-color: rgb(0, 0, 0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzJ_Y2yYaQmzEO-4atqBk1NH4sLe_VMlGqTQ&usqp=CAU");
  }
}

.CharacterPage .Poster > div:hover .hiden p {
  color: rgb(0, 0, 0);
  opacity: 1;
  font-weight: bold;
}

.CharacterPage .Poster > div > div:nth-child(2) {
  color: red;
  width: 250px;
}

.CharacterPage .favored {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.CharacterPage .yellow {
  color: yellow;
}

.CharacterPage .Poster span {
  position: absolute;
  top: 0px;
  color: red;
}
.CharacterPage input[type="checkbox"] {
  width: 60px;
  -webkit-appearance: none;
  right: -20px;
  height: 20px;
  outline: none;
  border-radius: 20px;
}
.CharacterPage input[type="checkbox"]:before {
  content: "";
  top: 0px;
  position: absolute;
  height: 20px;
  border-radius: 20px;
  width: 40px;
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

.CharacterPage .notChecked:before {
  left: 0px;
}
.CharacterPage .checked:before {
  left: 20px;
}
.CharacterPage input[type="checkbox"]:after {
  content: "";
  top: calc(50% - 1px);
  position: absolute;
  height: 2px;
  border-radius: 20px;
  width: 2px;
  border-radius: 50%;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}
.CharacterPage .notChecked:after {
  left: 30px;
  background: linear-gradient(0deg, #6b6b6b, #000);
}
.CharacterPage .notChecked {
  background: linear-gradient(0deg, #333, #000);
  box-shadow: 0 0 0 1px #353535, 0 0 0 2px #3e3e3e, inset 0 0 10px rgba(0, 0, 1),
    0 5px 20px rgba(0, 0, 0, 0.5), inset 0 0 15px rgba(0, 0, 0, 0.2);
}
.CharacterPage .checked {
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 1px #6dd1ff, 0 0 0 2px #353535, 0 0 0 3px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}
.CharacterPage .checked:after {
  left: 50px;
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}
