/*
header ligne 44
pagination ligne 126
CharacterPage and faroredCharacterPage ligne 167
Login and SignUpPage ligne 430
 ComicPage and FavoredComicPage ligne 489
 CharacterDetailPage 591
 FavoredPage 799
ComicPage ligne 151
*/

* {
  box-sizing: border-box;
}
.hiden {
  display: none;
}
/* loading page and unfined page and etc... */
.IsLoading,
.PageNotFound,
.LoginPage,
.SignUpPage {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(61, 136, 201);
  background-image: url("https://wallpapersalley.com/sites/default/files/4k-marvel-wallpaper-36343-252358.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.LoginPage,
.SignUpPage {
  background-color: black;
  background-image: none;
}
.App {
  padding-top: 10px;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
}
/* header component ----------------------------------------------------------------------------------------------*/
header {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
header > img {
  height: 60px;
  border-radius: 5px;
  transition: 3s;
}
header > img:hover {
  margin-top: 30px;
  margin-left: 200px;
  transform: scale(3);
  cursor: pointer;
}
header > div {
  display: flex;
  align-items: center;
  object-fit: contain;
  color: aliceblue;
}
header > div img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 7px;
}
header b {
  color: crimson;
}
header button {
  background-color: transparent;
  outline: none;
  height: 40px;
  width: 100px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  box-sizing: border-box;
  padding-left: 3px;
  cursor: pointer;
  transition: 1.5s;
}
/* header button effect  */
.red {
  border: crimson solid 1px;
}
.red:hover {
  box-shadow: 0px 0px 10px 0 rgb(250, 34, 78) inset,
    0px 0px 10px 0 rgb(250, 34, 78) inset, 0px 0px 10px 0 rgb(250, 34, 78) inset,
    0px 0px 10px 0 rgb(250, 34, 78) inset;
  text-shadow: 0 0 5px rgb(250, 34, 78), 0 0 5px rgb(250, 34, 78);
}
.cyan {
  border: #15f4ee solid 1px;
}
.cyan:hover {
  box-shadow: 0px 0px 10px 0 #15f4ee inset, 0px 0px 10px 0 #15f4ee inset,
    0px 0px 10px 0 #15f4ee inset, 0px 0px 10px 0 #15f4ee inset;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}
.white {
  border: #ffffff solid 1px;
}
.white:hover {
  box-shadow: 0px 0px 10px 0 #ffffff inset, 0px 0px 10px 0 #ffffff inset,
    0px 0px 10px 0 #ffffff inset, 0px 0px 10px 0 #ffffff inset;
  text-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff;
}
.blue {
  border: rgb(33, 0, 248) solid 1px;
}
.blue:hover {
  box-shadow: 0px 0px 10px 0 rgb(33, 0, 248) inset,
    0px 0px 10px 0 rgb(33, 0, 248) inset, 0px 0px 10px 0 rgb(33, 0, 248) inset,
    0px 0px 10px 0 rgb(33, 0, 248) inset;
  text-shadow: 0 0 5px rgb(33, 0, 248), 0 0 5px rgb(33, 0, 248);
}

/* Pagination ----------------------------------------------------------------------------------------------*/
.Pagination {
  width: 100vw;
  color: red;
  margin-bottom: 20px;
}
.Pagination > div {
  display: flex;
  justify-content: center;
}
.Pagination > div > div {
  margin-right: 20px;
}
.Pagination > div > div label {
  margin-right: 10px;
}
.Pagination input {
  background-color: transparent;
  color: crimson;
  outline: crimson;
  border: none;
  border: rgb(46, 91, 129) 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
}
.Pagination input[type="text"]:focus {
  background-color: rgb(46, 91, 129);
  color: white;
  border: white solid 1px;
}

.Pagination P > span:nth-child(1) {
  color: rgb(46, 91, 129);

  margin-right: 10px;
}
.Pagination P > span:nth-child(2) {
  color: rgb(46, 91, 129);
}

/* CharacterPage and favoredCharacterPage---------------------------------------------------------------------------------------------- */
.CharacterPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: aliceblue;
}
.CharacterPage .Poster {
  margin-bottom: 15px;
  position: relative;
}
/* animation for poster */
.bounce-in-right {
  -webkit-animation: bounce-in-right 1.5s both;
  animation: bounce-in-right 1.5s both;
}

@-webkit-keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
    transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
    transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.CharacterPage .container {
  overflow: hidden;
  border-radius: 50%;
}
.CharacterPage .Poster-img {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid red 1px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/* animation for poster picture */

.kenburns-top:hover {
  -webkit-animation: kenburns-top 4s ease-out infinite alternate both;
  animation: kenburns-top 4s ease-out infinite alternate both;
  z-index: 1000;
  opacity: 1;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
}
/* hover show div  */

.CharacterPage .Poster > div:hover .hiden {
  display: flex;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  height: 180px;
  display: flex;
  align-items: center;
  font-weight: bold;
  opacity: 0.7;
  margin-top: 25px;
  z-index: 10;
}
/* animation for hiden text  */
.scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
    background-color: rgb(0, 0, 0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzJ_Y2yYaQmzEO-4atqBk1NH4sLe_VMlGqTQ&usqp=CAU");
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
    background-color: rgb(0, 0, 0);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzJ_Y2yYaQmzEO-4atqBk1NH4sLe_VMlGqTQ&usqp=CAU");
  }
}

.CharacterPage .Poster > div:hover .hiden p {
  color: rgb(0, 0, 0);
  opacity: 1;
  font-weight: bold;
}

.CharacterPage .Poster > div > div:nth-child(2) {
  color: red;
  width: 250px;
}

.CharacterPage .favored {
  position: absolute;
  color: rgb(255, 255, 255);
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.CharacterPage .Poster span {
  position: absolute;
  top: 0px;
  color: red;
}
/* LoginPage and SignUpPage ----------------------------------------------------------------------------------------------*/
.LoginPage form,
.SignUpPage form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.LoginPage form input,
.SignUpPage form input {
  height: 40px;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  outline-color: #15f4ee;
  color: #15f4ee;
}
.SignUpPage label {
  cursor: pointer;
}

.SignUpPage .hidden {
  display: none;
}
.LoginPage form button,
.SignUpPage form button {
  height: 40px;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  border: solid 1px #15f4ee;
  border-radius: 20px;
  color: #15f4ee;
  background-color: transparent;
  transition: 1.5s;
  cursor: pointer;
}
.LoginPage form button:hover,
.SignUpPage form button:hover {
  box-shadow: 0px 0px 10px 0 #15f4ee inset, 0px 0px 10px 0 #15f4ee inset,
    0px 0px 10px 0 #15f4ee inset, 0px 0px 10px 0 #15f4ee inset;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.SignUpPage span,
.LoginPage span {
  margin-top: 10px;
}
.SignUpPage span:hover,
.LoginPage span:hover {
  color: crimson;
  cursor: pointer;
}
/* ComicPage  ----------------------------------------------------------------------------------------------*/
.ComicPage {
  color: rgb(32, 101, 161);
}
.ComicPage > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ComicPage .Comic {
  margin-bottom: 20px;
  width: 40vw;
}
/* animation for comic */
.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

.ComicPage p {
  color: aliceblue;
  margin-bottom: 10px;
}
.ComicPage p .favored {
  margin-right: 20px;
  cursor: pointer;
}

.ComicPage p span {
  margin-right: 10px;
  color: red;
}
.ComicPage .Comic > div {
  display: flex;
  align-items: center;
  width: 50%;
  max-height: 300px;
}
.ComicPage img {
  height: 300px;
  width: 300px;
  box-sizing: border-box;
  border: rgb(32, 101, 161) 2px solid;

  cursor: pointer;
}
.ComicPage .Comic > div p {
  display: none;
  box-sizing: border-box;
  padding: auto;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}
.ComicPage .Comic > div:hover {
  width: 100%;
  transition: 4s;
}

.ComicPage .Comic > div:hover p {
  display: flex;
  cursor: row-resize;
  padding: 15px;
  box-sizing: border-box;
}
.ComicPage .boxShadow {
  box-shadow: 12px 12px 9px 4px red;
  -webkit-box-shadow: 12px 12px 9px 4px red;
  -moz-box-shadow: 12px 12px 9px 4px red;
}
/* CharacterDetailPage ---------------------------------------------------------------------------------------------- */

.CharacterDetailPage {
  height: 88.5vh;
  display: flex;
}

.CharacterDetailPage > div:nth-child(1) {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CharacterDetailPage > div:nth-child(1) > img {
  float: left;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: slateblue solid 1px;
}
.CharacterDetailPage > div:nth-child(1) > p:nth-child(2) {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: underline;
}
.CharacterDetailPage > div:nth-child(1) > p:nth-child(3) {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
}
.CharacterDetailPage > div:nth-child(2) {
  width: 1800px;
  display: flex;
}
.CharacterDetailPage > div:nth-child(2) > div {
  width: 50%;
  height: 100%;
}
.CharacterDetailPage .container {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.CharacterDetailPage .container span {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  text-decoration: underline;
  font-size: 20px;
}

.CharacterDetailPage .container .comic {
  min-width: 100%;
  min-height: 300px;
  max-height: 300px;
  margin-bottom: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.CharacterDetailPage > div:nth-child(2) > img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

/* .CharacterDetailPage .ShowComic modal ---------------------------------------------------------------------------------------------- */
.CharacterDetailPage .ShowComic {
  color: red;
  position: absolute;
  width: 100vw;
  height: 88.5vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/* animation for modal */
.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.CharacterDetailPage .ShowComic > div {
  margin-top: 30px;
  height: 70%;
  width: 60%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  position: relative;
}
.CharacterDetailPage .ShowComic > div > div:nth-child(1) {
  height: 100%;
  width: 50%;
  float: left;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.CharacterDetailPage .ShowComic > div > div:nth-child(1) > img {
  height: 70%;
  width: 100%;
  border-radius: 10px;
}

.CharacterDetailPage .ShowComic > div p:nth-child(2) {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  margin-bottom: 20px;
  margin-top: 30px;
}
.CharacterDetailPage .ShowComic > div input {
  margin-bottom: 30px;
  outline: none;
  width: 30%;
  height: 40px;
  color: crimson;
  background-color: black;
  text-align: center;
  border: slateblue 1px solid;
  border-radius: 5px;
}
.CharacterDetailPage .ShowComic > div p:nth-child(4) {
  color: rgb(255, 255, 255);
  height: 60%;
  display: flex;
  justify-content: center;
  border: wheat solid 1px;
  overflow: hidden;
  overflow-y: scroll;
  border: 3px inset slateblue;
  transition: 4s;
}
.CharacterDetailPage .ShowComic > div span {
  color: slateblue;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
}
.CharacterDetailPage .ShowComic > div span:hover {
  color: crimson;
  cursor: pointer;
}
.CharacterDetailPage .ShowComic b {
  position: absolute;
  top: 10px;
  left: 10px;
  color: crimson;
}
/* FavoredPage ----------------------------------------------------------------------------------------------*/
.FavoredPage {
  display: flex;
  height: 88.5vh;
  width: 100vw;
}
.FavoredPage > * {
  width: 33vw;
  height: 88.5vh;
}

.FavoredPage > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.FavoredPage > div button {
  height: 40px;
  width: 34%;
  font-size: 20px;
  border-radius: 20px;
  background-color: transparent;
  transition: 1.5s;
  cursor: pointer;
  outline: none;
}

.FavoredPage > div > button:nth-child(1) {
  border: solid 1px #ff00b3;
  color: #ff00b3;
}
.FavoredPage > div > button:nth-child(1):hover {
  box-shadow: 0px 0px 10px 0 #ff00b3 inset, 0px 0px 10px 0 #ff00b3 inset,
    0px 0px 10px 0 #ff00b3 inset, 0px 0px 10px 0 #ff00b3 inset;
  text-shadow: 0 0 5px #ff00b3, 0 0 5px #ff00b3;
  color: white;
}
.FavoredPage > div > button:nth-child(2) {
  border: solid 1px #8400ff;
  color: #8400ff;
}
.FavoredPage > div > button:nth-child(2):hover {
  color: white;
  box-shadow: 0px 0px 10px 0 #8400ff inset, 0px 0px 10px 0 #8400ff inset,
    0px 0px 10px 0 #8400ff inset, 0px 0px 10px 0 #8400ff inset;
  text-shadow: 0 0 5px #8400ff, 0 0 5px #8400ff;
}
